<div class="five-zero-zero" *ngIf="this.preloadService.haveError">
  <div class="five-zero-zero-container">
    <div class="error-code">Error</div>
    <div class="error-message">Error Interno del Servidor...</div>
    <div class="button-place">
      <a (click)="this.preloadService.clearErrors()" class="btn btn-default btn-lg waves-effect">Volver</a>
    </div>
  </div>
</div>

<nav class="red darken-4" [hidden]="this.preloadService.haveError">
  <div class="container">
    <div class="nav-wrapper">
      <ul>
        <li><a href="/" class="brand-logo">Gateways</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="page-loader-wrapper" *ngIf="this.preloadService.loading">
  <div class="loader">
    <div class="preloader-wrapper big active" >
      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" [hidden]="this.preloadService.haveError">
  <router-outlet></router-outlet>
</div>
<!-- FOOTER -->
<footer class="section red darken-4 white-text page-footer" [hidden]="this.preloadService.haveError">
  <p class="center">Desarrollado por Ing. Carlos Javier Pérez Mutuberría © 2019</p>
</footer>
